.card-container {
  padding: 16px;
}

.log-card {
  margin-bottom: 16px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  ion-card-header {
    padding: 16px;
    
    ion-card-title {
      font-size: 1.4rem;
      font-weight: 600;
    }
    
    ion-card-subtitle {
      margin-top: 4px;
      font-size: 0.9rem;
    }
  }
}

.time-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0;

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
    
    ion-label {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}

.sleepiness-scale {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin: 16px 0;
  overflow-x: auto;
}

.scale-card {
  flex: 1;
  margin: 0 2px;
  text-align: center;
  color: white;
  min-width: 30px;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  padding: 4px;
  
  &:active {
    border-color: white;
  }
  
  &.selected {
    --background: var(--ion-color-primary);
    --color: white;
  }
  
  ion-card-content {
    padding: 8px 4px;
    font-size: 12px;
  }
}

.submit-button {
  margin-top: 8px;
  width: 100%;
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

@media (max-width: 576px) {
  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: block;
  }
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.time-display {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--ion-color-medium);
  
  ion-icon {
    font-size: 16px;
  }
}

.scale-legend {
  margin-top: 20px;
  
  
  h4 {
    color: var(--ion-color-medium);
    
  }
  
  ion-item {
    --min-height: 16px;
    font-size: 14px;
    color: var(--ion-color-medium);
  }
}
