<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="history-container">
    <ion-list>
      <ion-item-sliding *ngFor="let data of allSleepData">
        <ion-item *ngIf="isSleepData(data)">
          <ion-label>
            <h2>{{ data.dateString() }}</h2>
            <p>Sleep Record</p>
          </ion-label>
          <ion-note slot="end" class="total-sleep">
            {{ data.summaryString() }}
          </ion-note>
        </ion-item>

        <ion-item *ngIf="isSleepinessData(data)">
          <ion-label>
            <h2>{{ data.dateString() }}</h2>
            <p>Sleepiness Level</p>
          </ion-label>
          <ion-note slot="end" class="sleepiness-level">
            {{ data.summaryString() }}
          </ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
